<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
   </head>

   <body>
      <h1>MinkaAire Ceiling Fan</h1>
      <h2>The date and time on the server is: {{ time }}</h2>

        <p>Just did {{ message }}</p>

	<h2>Light</h2>	
	<p> <a href="/toggle_light">Toogle light on/off</a> </p>

	<h2>Fan</h2>

	<p> <a href="/fan_off">Turn fan off</a> </p>
	<p> <a href="/fan_low">Turn fan on low</a> </p>	
	<p> <a href="/fan_med">Turn fan on medium</a> </p>	
	<p> <a href="/fan_high">Turn fan on high</a> </p>	

   </body>
</html>
